@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url("./fonts/montserrat.ttf");
}

:root {
    --main-color: rgb(158, 58, 68);
    --border-color-light: rgb(204, 204, 204);
    --widget-border-radius: 4px;
}

body {
    margin: 0px;
}

body, input, button {
    font-family: "Montserrat";
    font-size: 16px;
}

#navigation-bar {
    display: flex;
    align-items: center;
    height: 64px;
    box-sizing: border-box;
    gap: 32px;
    padding-left: 24px;
    border-bottom: 1px solid var(--border-color-light);
    margin-bottom: 32px;
}

#title {
    font-size: 2em;
}

button {
    cursor: pointer;
}

.nav-button {
    display: block;
    text-decoration: none;
    color: black;
}

.nav-button:hover {
    color: var(--main-color);
}

.nav-button-selected {
    color: var(--main-color);
}

#page-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header {
    font-size: 1.5em;
}

#controls {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.page -controls {
    display: flex;
    align-items: stretch;
    gap: 4px;    
}

input[type="radio"] {
    margin: 0;
}

input[type="radio"], input[type="checkbox"] {
    accent-color: var(--main-color);
}

label {
    line-height: 24px;
}

.action-button {
    width: 96px;
    height: 32px;
    border: 0;
    border-radius: var(--widget-border-radius);
    background-color: var(--main-color);
    color: white;
}

.action-button:hover {
    box-shadow: 0px 0px 2px black;
    transition: box-shadow .1s;
}

#output-container {
    gap: 8px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output-block {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: var(--widget-border-radius);
    display: inline-flex; /* to autosize width based on children */
    border: 1px solid var(--border-color-light);
    animation: grow .25s;
}

@keyframes grow {
    0% {
        transform: scale(.5);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.output-cell {
    width: 32px;
    line-height: 32px;
    text-align: center;
}