@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    src: url('./fonts/montserrat.ttf');
}

:root {
    --main-color: rgb(70, 45, 180);
    --border-color-light: rgb(204, 204, 204);
    --widget-border-radius: 4px;
}

body {
    margin: 0px;
}

body, input, button {
    font-family: 'Montserrat';
    font-size: 16px;
}

button {
    cursor: pointer;
}

#navigation-bar {
    display: flex;
    align-items: center;
    height: 64px;
    gap: 32px;
    padding-left: 24px;
    border-bottom: 1px solid var(--border-color-light);
}

#title {
    font-size: 2em;
}

.navigation-button {
    background-color: white;
    border: 0;
}

.navigation-button:hover {
    color: var(--main-color);
}

.selected-view {
    color: var(--main-color);
}

#controls {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding-top: 32px;
}

input[type='radio'] {
    margin: 0;
    accent-color: var(--main-color);
}

.action-button {
    width: 96px;
    height: 32px;
    border: 0;
    border-radius: var(--widget-border-radius);
    background-color: var(--main-color);
    color: white;
}

.action-button:hover {
    box-shadow: 0px 0px 2px black;
    transition: box-shadow .1s;
}

#output-container {
    gap: 8px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.output-block {
    padding-left: 8px;
    padding-right: 8px;
    border-radius: var(--widget-border-radius);
    display: inline-flex; /* to autosize width based on children */
    border: 1px solid var(--border-color-light);
}

.output-cell {
    width: 32px;
    line-height: 32px;
    text-align: center;
}